env:
  browser: true
  node: true
  mocha: true
  es6: true
parserOptions:
  sourceType: module
  ecmaVersion: 6
  ecmaFeatures:
    jsx: true
extends:
  - eslint:recommended
  - plugin:react/recommended
plugins:
  - react
rules:
  brace-style: error
  comma-spacing: error
  comma-style: error
  complexity:
    - warn
    - 5
  default-case: error
  indent:
    - error
    - 2
    - SwitchCase: 1
  linebreak-style: error
  max-depth: error
  max-len:
    - warn
    -
      ignoreStrings: true
      ignoreComments: true
      ignoreTemplateLiterals: true
      ignoreUrls: true
  max-params: error
  no-console: off
  no-extra-parens: error
  no-floating-decimal: error
  no-unused-vars: error
  object-curly-spacing:
    - error
    - always
  space-before-function-paren:
    - error
    -
       anonymous: always
       named: never
  quotes:
    - error
    - single
  quote-props:
    - error
    - as-needed
  semi: error
  space-in-parens:
    - error
    - never
  space-infix-ops: error
  strict:
    - error
    - global
  require-jsdoc:
    - warn
    -
      require:
        FunctionDeclaration: true
        ClassDeclaration: true
  valid-jsdoc:
    - warn
    -
      requireParamDescription: false
      requireReturnDescription: false
  vars-on-top: error
  sort-imports: error
  react/prop-types: off
  react/sort-comp: error
